## Square of side 'N'
Problem Description: You are given an integer n. Your task is to return a square pattern of size n x n made up of the character '*', represented as a list of strings.

In [8]:
def generate_square(n):
    for i in range(n):
        print(['* '*n])
generate_square(4)

['* * * * ']
['* * * * ']
['* * * * ']
['* * * * ']

## Hollow Square of side 'N'
#### Problem Description:

You are given an integer n. Your task is to return a hollow square pattern of size n x n made up of the character '*', represented as a list of strings. The hollow square has '*' on the border, and spaces ' ' in the middle (except for side lengths of 1 and 2).

In [9]:
def hollow_square(n):
    if n==1:
        return ['*']
    elif n==2:
        return ['**','**']
    else:
        square=[]
        for i in range(n):
            if i==0 or i==n-1:
                square.append('*'*n)
            else:
                square.append('*'+' '*(n-2)+'*')
        return square
hollow_square(4)

['****', '*  *', '*  *', '****']

## Rectangle Pattern
#### Problem Description:

You are given two integers, n and m. Your task is to return a rectangle pattern of '*', where n represents the number of rows (length) and m represents the number of columns (breadth).

In [13]:
def rect_pat(n,m):
    for i in range(n):
        print('* '*m)
rect_pat(2,3)

* * *
* * *

## Right Angled Triangle
#### Problem Description:

You are given an integer n. Your task is to return a right-angled triangle pattern of '*' where each side has n characters, represented as a list of strings. The triangle has '*' characters, starting with 1 star in the first row, 2 stars in the second row, and so on until the last row has n stars.

In [34]:
def right_triangle(n):
    j=1
    for i in range(n):
        print('* '*j)
        j=j+1
right_triangle(4)

*
* *
* * *
* * * *

## Inverted Right Angled Triangle
#### Problem Description:

You are given an integer n. Your task is to return an inverted right-angled triangle pattern of '*' where each side has n characters, represented as a list of strings. The first row should have n stars, the second row n-1 stars, and so on, until the last row has 1 star.

In [42]:
def invert_right_triangle(n):
    j=n
    for i in range(n,0,-1):
        print('* '*j)
        j=j-1
invert_right_triangle(4)

* * * *
* * *
* *
*

## Pyramid Pattern
#### Problem Description:

You are given an integer n. Your task is to return a pyramid pattern of '*' where each side has n rows, represented as a list of strings. The pyramid is centered, with 1 star in the first row, 3 stars in the second row, and so on, increasing by 2 stars per row until the base row has 2n - 1 stars.

In [71]:
def pyramid(n):
    for i in range(n):
        print((n-i)*' '+'*'*(2*i+1))
pyramid(5)

     *
    ***
   *****
  *******
 *********

## Inverted Pyramid Pattern
#### Problem Description

You are given an integer n. Your task is to return an inverted pyramid pattern of '*', where each side has n rows, represented as a list of strings. The first row has 2n - 1 stars, the second row has 2n - 3 stars, and so on, until the last row has 1 star, with each row centered using spaces.

In [73]:
def pyramid(n):
    for i in range(n,-1,-1):
        print((n-i)*' '+'*'*(2*i+1))
pyramid(5)

***********
 *********
  *******
   *****
    ***
     *

## Right Angled Triangle with Numbers
#### Problem Description:

You are given an integer n. Your task is to return a right-angled triangle pattern where each row contains repeated digits. The first row contains the number 1 repeated once, the second row contains the number 2 repeated twice, and so on until the nth row contains the number n repeated n times.

In [80]:
def right_triangle(n):
    j=1
    for i in range(n):
        print(f'{j}'*j)
        j=j+1
right_triangle(4)

1
22
333
4444

## Floyds Triangle
#### Problem Description:

You are given an integer n. Your task is to return the first n rows of Floydâ€™s Triangle, represented as a list of strings. Floyd's Triangle is a triangular array of natural numbers where the first row contains 1, the second row contains 2 and 3, the third row contains 4, 5, and 6, and so on.

In [94]:
def floyds_triangle(n):
    triangle = []
    num = 1  # Start from 1
    for i in range(1, n + 1):  # i represents the row number
        row = ' '.join(str(num + j) for j in range(i))  # Create the row
        triangle.append(row)
        num += i  # Update the starting number for the next row
    return triangle

# Example usage
n = 5
triangle = floyds_triangle(n)
for row in triangle:
    print(row)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15