In [1]:
###creating dictionaries
d1={}

In [2]:
type(d1)

dict

In [3]:
student = {"name":"krish",'age':25,'grade':'A'}

In [4]:
student

{'name': 'krish', 'age': 25, 'grade': 'A'}

In [5]:
##accessing dictionary elements
student['name']

'krish'

In [8]:
##accessing keys
student.keys()

dict_keys(['name', 'age', 'grade'])

In [9]:
##accesing values
student.values()

dict_values(['krish', 25, 'A'])

In [11]:
#accesing all items in dictionary
student.items()

dict_items([('name', 'krish'), ('age', 25), ('grade', 'A')])

In [12]:
#using get method
student.get('grade')

'A'

In [14]:
##modifying dictionay elements
#dictanry are mutable
#update
student['age']=28
student

{'name': 'krish', 'age': 28, 'grade': 'A'}

In [15]:
#add
student['university']='macquarie'
student

{'name': 'krish', 'age': 28, 'grade': 'A', 'university': 'macquarie'}

In [16]:
#delete
del student['age']
student

{'name': 'krish', 'grade': 'A', 'university': 'macquarie'}

In [17]:
# dictionary methods
# copy
student_copy=student
student_copy

{'name': 'krish', 'grade': 'A', 'university': 'macquarie'}

In [21]:
student['name']='fayyaz'
student_copy

{'name': 'fayyaz', 'grade': 'A', 'university': 'macquarie'}

In [22]:
student_copy1=student.copy()##shallow copy
student_copy1

{'name': 'fayyaz', 'grade': 'A', 'university': 'macquarie'}

In [26]:
student['name']='david'
print(student)
print(student_copy1)

{'name': 'david', 'grade': 'A', 'university': 'macquarie'}
{'name': 'fayyaz', 'grade': 'A', 'university': 'macquarie'}

In [29]:
#iterating over dictionaries
for keys in student.keys():
    print(keys)

name
grade
university

In [30]:
for values in student.values():
    print(values)

david
A
macquarie

In [32]:
for key,value in student.items():
    print(f"{key}:{value}")

name:david
grade:A
university:macquarie

In [33]:
#Nested dictionaries
students={
    'student1':{'name':'jyothi','age':23},
    'student2':{'name':'fayyaz','age':27}
}

In [34]:
students

{'student1': {'name': 'jyothi', 'age': 23},
 'student2': {'name': 'fayyaz', 'age': 27}}

In [36]:
students['student1']['name']

'jyothi'

In [37]:
#iterating over nested dictionaries
for s_id, info in students.items():
    print(f"{s_id}:{info}")

student1:{'name': 'jyothi', 'age': 23}
student2:{'name': 'fayyaz', 'age': 27}

In [38]:
#dictioanry comprehension
squares={x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [41]:
#conditional dictionary comprehension
even ={x:x**2 for x in range(10) if x%2==0 }
even

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [47]:
l=[1,2,3,4,1,2,3,4,1,3,4,1,5,6,7]
d1={}
count=1
for i in l:
    if i in d1.keys():
        d1[i]=d1[i]+1
    else:
        d1[i]=count
d1

{1: 4, 2: 2, 3: 3, 4: 3, 5: 1, 6: 1, 7: 1}

In [48]:
#Merge two dictionaries
merged_dict={**students,**d1}
merged_dict

{'student1': {'name': 'jyothi', 'age': 23},
 'student2': {'name': 'fayyaz', 'age': 27},
 1: 4,
 2: 2,
 3: 3,
 4: 3,
 5: 1,
 6: 1,
 7: 1}